extends base
block content 
    form.form-container
        label.section-title(for='title') Title
        input(id='title' required)

        label.section-title(for='description') Descrition
        textarea(id='description' required)

        label.section-title(for='content') Content
        textarea(id='content' required)
        
        .lang-container
            button.lang-btns.english-lang English Lang
            button.lang-btns.mixed-lang Mixed Lang

        button.submit(type='submit') Save
    script(type="module" src='/js/create.js')