* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.6;

  background-image: linear-gradient(
    to right,
    rgb(76, 161, 175),
    rgb(196, 224, 229)
  );

  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
}

.title {
  display: flex;
  justify-content: center;

  font-family: Rochester;
  font-size: 6rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.content-container {
  padding: 1rem 2rem;
  margin: 3rem auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background: #ffeac9; */

  background-image: linear-gradient(
    to right,
    rgb(224, 234, 252),
    rgb(207, 222, 243)
  );

  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
}

.post-container {
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.secondary-content {
  display: flex;
  flex-basis: 10%;
  flex-direction: column;
  color: gray;

  margin-left: 5rem;
  margin-top: 1rem;
}

.post-minutes {
  font-weight: 600;
  font-size: 1.6rem;
}

.post-date {
  font-size: 1.3rem;
}

.primary-content {
  flex-basis: 90%;

  align-self: center;
  flex-direction: column;

  /* Align Right */
  /* display: flex;
  align-items: flex-end; */
}

.post-title,
.post-title-final {
  font-size: 2.4rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.post-title-final {
  cursor: default;
}

.post-description {
  font-size: 2rem;
}

/* Create Post Page */

.form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.section-title {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
}

#title,
#description,
#content {
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.6rem;

  outline: none;
}

#title {
  margin-bottom: 1rem;
  height: 5rem;
}

#description {
  display: block;
  margin-bottom: 1rem;
  height: 10rem;
}

#content {
  display: block;
  margin-bottom: 1rem;
  height: 14rem;
}

.submit {
  width: 10rem;
  height: 6rem;
  border-radius: 2rem;
  background-color: #ff6767;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  align-self: center;
  cursor: pointer;

  transition: all 0.4s;
}

.submit:hover {
  transform: translateY(2px);
}

/* confirmation Message */

.confirm-container {
  display: flex;
  margin: 10rem auto;
  /* border-radius: 2rem; */
  justify-content: space-around;
  /* background-color: #fff; */
  height: 10rem;
  width: 80%;
}

.option {
  border-radius: 2rem;
  flex-basis: 40%;
  background-color: #fff;
  height: 10rem;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  transition: all 0.3s;
}

.option:hover {
  transform: translateY(2px);
}

/* Languages Features */

.lang-container {
  display: flex;
  height: 10rem;
}

.lang-btns {
  width: 100%;
  margin: 2rem;

  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border: none;

  transition: all 0.2s;
}

.lang-btns:hover {
  transform: translateY(2px);
}

.selected-lang {
  transform: translateY(2px);
}

.mixed-lang {
}

.english-lang {
}

/* Change the height of <br> */
br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

.space-english {
  margin-left: 6rem;
}

.space-arabic {
  margin-right: 6rem;
}

/* General Media Queries */
@media screen and (max-width: 50rem) {
  .title {
    font-size: 4rem;
  }
  .post-container,
  .post-title-final,
  .post-title,
  .primary-content {
    font-size: 1.8rem;
  }
  .primary-content {
    width: 100%;
  }
  .post-description {
    font-size: 1.2rem;
  }

  .post-container {
    flex-direction: column;
  }

  .secondary-content {
    flex-direction: row;
    margin: 0 auto;
  }
  .post-date {
    /* background-color: red; */
    align-self: flex-end;
  }
  .post-minutes {
    /* background-color: orangered; */
    margin-right: 1rem;
  }
  .space-english {
    margin-left: 2rem;
  }

  .space-arabic {
    margin-right: 2rem;
  }
}
